**/__pycache__/
.venv/
model/*
logs/*
scrap/
screenshots/original/screenshots/*
screenshots/original/labels/*
screenshots/resized/with_bbox/*
screenshots/resized/without_bbox/*
screenshots/resized/labels/*